
    <div class="container">
      <div class="row">
        <h1> Gestion des dossiers (ajouter,modifier ou bien supprimer le chemin de stockage des dossiers) </h1>
        <div class="col-md-12 col-sm-9">
          <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="margin-top: 40px;">
    
    
            <!-- Position Column -->
            <ng-container matColumnDef="idfolder">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.idfolder}}</td>
            </ng-container>
    
            <!-- Position Column -->
            <ng-container matColumnDef="foldername">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Nom dossier </th>
              <td mat-cell *matCellDef="let element"> {{element.foldername}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="folderpath">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Chemin de stockage </th>
              <td mat-cell *matCellDef="let element"> {{element.displayedfolderpath}} </td>
            </ng-container>
    
    
          
    
    
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="header_table" style="padding-left: 20px;"> Action </th>
              <td mat-cell *matCellDef="let element">
                <mat-grid-list cols="2" >
                    <a class="btn btn-success" id="first_btn" (click)="updateFolder(element)" >Modifier</a>
                    <a class="btn btn-danger" id="first_btn" (click)="deleteFolder(element)">Supprimer</a>
                </mat-grid-list>
               
              
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          </div>
          <mat-paginator [pageSizeOptions]="[10, 15,20]"></mat-paginator>
    
        </div>
    
      </div>
     
      <div class="row">
        <div class="center2">
    
          
          <button class="btn btn-secondary btn-lg button" style="background-color:#71BED1;color: white;" (click)="addNewFolder()">Ajouter un nouveau dossier</button>
        </div>
      </div>
    
    
    
    
    
      
    </div>

