table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .container{
    margin-top: 20px;
  }

  #first_btn{
    margin-left: 20px;
  }

 
  button:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .header_table{
    background-color:#343A3D;
    color: white;
  }

  button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
