<div class="container">
 <div class="row">
    <div class="col-md-12 col-sm-9">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="margin-top: 40px;"> 


      <!-- Position Column -->
      <ng-container matColumnDef="IDSTRUCTURE">
        <th mat-header-cell *matHeaderCellDef class="header_table"> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.idstructure}}</td>
      </ng-container>
      
    <!-- Position Column -->
    <ng-container matColumnDef="STRUCTURENAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Nom structure </th>
      <td mat-cell *matCellDef="let element"> {{element.structurename}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="STRUCTURECODELIKE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Code Structure </th>
      <td mat-cell *matCellDef="let element"> {{element.structurecodelike}} </td>
    </ng-container>
  

       <!-- Weight Column -->
       <ng-container matColumnDef="EMAILGROUPMANAGERS">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Email groupe gestionnaire</th>
        <td mat-cell *matCellDef="let element"> {{element.emailgroupmanagers}} </td>
      </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="STATUSSTRUCTURE">
      <th mat-header-cell *matHeaderCellDef  class="header_table"> Etat Structure </th>
      <td mat-cell *matCellDef="let element"> 
        
          <div  [ngSwitch]="element.statusstructure">
            <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="0">
              <circle cx="60" cy="60" r="40"     style="fill:#3DBC14"/>
            </svg>
            <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="1">
              <circle cx="60" cy="60" r="40"    style="fill:orange"/>
            </svg>
            <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="2">
              <circle cx="60" cy="60" r="40"    style="fill:red"/>
            </svg>
            <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="3">
              <circle cx="60" cy="60" r="40"     style="fill:#FBED64"/>
            </svg>
           
          </div> 
      
        </td>
    </ng-container>


    <ng-container matColumnDef="action" >
      <th mat-header-cell *matHeaderCellDef class="header_table"> Action </th>
      <td mat-cell *matCellDef="let element" > 
        <a class="btn btn-info" >Générer</a>
        <a class="btn btn-success" id="first_btn">Envoyer</a>
        <a class="btn btn-danger" id="first_btn">Suspendre</a>
        </td>
        </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 19]" ></mat-paginator>
 
</div>

</div>
<div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Signification état structure
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li> 
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40"  fill="#3DBC14" />
         </svg>  
        <strong> fichiers générées et envoyées</strong>
        </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
         <circle cx="50" cy="50" r="40"  fill="orange" />
        </svg>  
        <strong> fichiers générées et non envoyées</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40"  fill="#FBED64" />
         </svg>  
        <strong> fichiers non générées et non envoyées</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40"  fill="red"  />
         </svg>  
        <strong> structure suspendue</strong>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-5">

      <button class="btn btn-primary btn-lg">Clôturer Paie</button>
    </div>
</div>
  
</div>
