<h1 > Historique</h1>
<mat-accordion  style="margin-top: 500px;">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header > 
        <mat-panel-title>
          <h2>Les emails envoyés</h2>
        </mat-panel-title>
      
      </mat-expansion-panel-header>
  
      <div class="table-container">
        <table mat-table [dataSource]="dataSourceEmail" matSort class="mat-elevation-z8" >
  
  
          <!-- Position Column -->
          <ng-container matColumnDef="idemail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.idemail}}</td>
          </ng-container>
  
          <!-- Position Column -->
          <ng-container matColumnDef="receiver">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Envoyé à </th>
            <td mat-cell *matCellDef="let element"> {{element.receiver}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="emailgenerationdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Date d'envoie </th>
            <td mat-cell *matCellDef="let element"> {{element.emailgenerationdate}} </td>
          </ng-container>
  
  
        
  
  
          <ng-container matColumnDef="emailobject">
            <th mat-header-cell *matHeaderCellDef  class="header_table"> Objet </th>
            <td mat-cell *matCellDef="let element"> {{element.emailobject}} </td>
          </ng-container>

          <ng-container matColumnDef="msg">
            <th mat-header-cell *matHeaderCellDef  class="header_table"> Message </th>
            <td mat-cell *matCellDef="let element"> {{element.msg}} </td>
          </ng-container>
          <ng-container matColumnDef="files" >
            <th mat-header-cell *matHeaderCellDef  class="header_table" > Fichiers envoyés </th>
            <td mat-cell *matCellDef="let element">
          <dl *ngFor="let file of allFiles; let i = index">
             <dt *ngIf="element.idemail==allFiles[i].idemail &&allFiles[i].filename.length!=0">
             
                <p *ngFor="let item of allFiles[i].filename;let j=index">
                    <mat-icon matSuffix aria-hidden="false">insert_drive_file</mat-icon>{{allFiles[i].filename[j]}}  
                </p>
                
            </dt>
        </dl>
    </td> 
</ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsEmail;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsEmail;"></tr>
        </table>
        </div>
        <mat-paginator matPaginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  <!-- #docregion action-bar -->
      <mat-action-row>
        <button mat-raised-button (click)="clearTable(1)" style="background-color: #C41E07; color:white">Supprimer l'historique	<mat-icon>delete</mat-icon></button>
        <button mat-raised-button  (click)="nextStep()" style="background-color: #138D75; color: white;">Suivant	<mat-icon>navigate_next</mat-icon></button>
      </mat-action-row>
  <!-- #enddocregion action-bar -->
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header >
        <mat-panel-title >
          <h2 >Gestion structure</h2>
        </mat-panel-title>
     
      </mat-expansion-panel-header>
  
      <mat-tab-group mat-align-tabs="center" style="margin-top: 25px;" (selectedTabChange)=" getStructure($event)"  >
        <mat-tab *ngFor="let operation of operationsStructure; let j = index" label="{{operationsStructure[j]}}" style="color: white;" >
         
            
            <table mat-table  [dataSource]="dataSourceStructure" matSort class="mat-elevation-z8" style="margin-top: 40px;" >
            
               
              <!-- Position Column -->
        <ng-container matColumnDef="idstructure">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.idstructure}}</td>
          </ng-container>
  
          <!-- Position Column -->
          <ng-container matColumnDef="structurename">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Nom structure </th>
            <td mat-cell *matCellDef="let element"> {{element.archstructurename}} </td>
  
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="STRUCTURECODELIKE">
            <th mat-header-cell *matHeaderCellDef class="header_table"> Code Structure </th>
            <td mat-cell *matCellDef="let element"> {{element.archstructurecodelike}} </td>
          </ng-container>
  
          <!-- Weight Column -->
          <ng-container matColumnDef="EMAILGROUPMANAGERS">
            <th mat-header-cell *matHeaderCellDef r class="header_table"> Email groupe gestionnaire</th>
            <td mat-cell *matCellDef="let element"> {{element.archemailgroupemanagers}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="STATUSSTRUCTURE">
            <th mat-header-cell *matHeaderCellDef class="header_table"> Etat Structure </th>
            <td mat-cell *matCellDef="let element">
  
              <div [ngSwitch]="element.archstatusstructure">
                <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="0">
                  <circle cx="60" cy="60" r="40" style="fill:#3DBC14" />
                </svg>
                <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="1">
                  <circle cx="60" cy="60" r="40" style="fill:orange" />
                </svg>
                <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="2">
                  <circle cx="60" cy="60" r="40" style="fill:red" />
                </svg>
                <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="3">
                  <circle cx="60" cy="60" r="40" style="fill:#FBED64" />
                </svg>
  
              </div>
  
            </td>
          </ng-container>
  
  
        
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsStructure;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsStructure;"></tr>
                </table>
          
           
              
                

            </mat-tab>
            </mat-tab-group>
  
      <mat-action-row>
        <button mat-raised-button (click)="clearTable(1)" style="background-color: #C41E07; color:white">Supprimer l'historique	<mat-icon>delete</mat-icon></button>
        <button mat-raised-button style="background-color: #97A3AF; color: white;" (click)="prevStep()"><mat-icon>navigate_before</mat-icon>Précédent </button>
        <button  mat-raised-button (click)="nextStep()" style="background-color: #138D75; color: white;">Suivant <mat-icon>navigate_next</mat-icon></button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header >
        <mat-panel-title>
            <h2 >Gestion Dossier</h2>
        </mat-panel-title>
   
      </mat-expansion-panel-header>
      <mat-tab-group mat-align-tabs="center" style="margin-top: 25px;" (selectedTabChange)=" getFolder($event)"  >
        <mat-tab *ngFor="let operation of operationsFolder; let j = index" label="{{operationsFolder[j]}}" >
      <table mat-table  [dataSource]="dataSourceFolder" matSort class="mat-elevation-z8" style="margin-top: 40px;" >

        <!-- Position Column
        <ng-container matColumnDef="idfolder">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table2"> No. </th>
          <td mat-cell *matCellDef="let element" > {{element.idfolder}}</td>
        </ng-container>
     -->
        <!-- Position Column -->
        <ng-container matColumnDef="foldername">
          <th mat-header-cell *matHeaderCellDef  class="header_table"> Nom Fichier </th>
          <td mat-cell *matCellDef="let element"> {{element.archfoldername}} </td>
    
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="FOLDERPATH">
          <th mat-header-cell *matHeaderCellDef  class="header_table"> Chemin de stockage </th>
          <td mat-cell *matCellDef="let element"> {{element.archfolderpath}}{{element.archfoldername}}</td>
        </ng-container>
    
        <ng-container matColumnDef="folderarchiveddate">
            <th mat-header-cell *matHeaderCellDef  class="header_table"> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.folderarchiveddate}}</td>
          </ng-container>
    
       
    
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsFolder;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFolder;"></tr>
      </table>
      
  </mat-tab>
  </mat-tab-group>
      <mat-action-row>
        <button mat-raised-button (click)="clearTable(3)" style="background-color: #C41E07; color:white">Supprimer l'historique	<mat-icon>delete</mat-icon></button>
        <button mat-raised-button style="background-color: #97A3AF; color: white;" (click)="prevStep()"><mat-icon>navigate_before</mat-icon>Précédent </button>
        <button  mat-raised-button (click)="nextStep()" style="background-color: #138D75; color: white;">Fermer <mat-icon>close</mat-icon>	</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>

