.header_table{
    background-color:#9BA2A4;
    color: white;
  }
  .header_table2{
    background-color:#1242B0;
    color: white;
  }

  .table2{
    background-color: #D7DFEF;
    width: 100%;
  }
  .table-container {
    position: relative;
    max-height: 600px;
    overflow: auto;
   
    
    
  }
  table {
    width: 100%;
    background-color: #F1F2F2;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  h2 {
   margin-top:10px;
    text-align: center;
    font-family: "serif";
    font-size: 20px;
    text-shadow: 2px 2px 5px#73757A;
   
  }
  h1 {
  
    text-align: center;
    font-family: "serif";
    font-size: 30px;
    border-style: groove;
    padding: 8px;
    text-shadow: 2px 2px 5px #888586;
  }
  

  .mat-table {
    overflow-x: scroll;
    max-width: 99%;
  }
  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-icon {
    vertical-align: middle;
 }
 
  #next_btn{
    margin-left: 8px;
    background-color: #717878;
    color: white;
  }