<div class="card m-3">
  <div class="card-body">
    <form [formGroup]="fileToPrintFormGroup">
        <mat-tab-group mat-align-tabs="center" style="margin-top: 25px;" (selectedTabChange)=" getFiles($event)"  >
            <mat-tab *ngFor="let structure of folderCategories; let j = index" label="{{folderCategories[j].foldername}}" >
             
                <table mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8" style="margin-top: 40px;">


                    <!-- Position Column -->
                    <ng-container matColumnDef="IDFILE">
                      <th mat-header-cell *matHeaderCellDef class="header_table"> No. </th>
                      <td mat-cell *matCellDef="let element" > {{element.idfiletype}}</td>
                    </ng-container>
  
                    <!-- Position Column -->
                    <ng-container matColumnDef="FILENAME">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Nom Fichier </th>
                      <td mat-cell *matCellDef="let element"> {{element.prefixfiletype}} </td>
  
                    </ng-container>
  
                    <!-- Name Column -->
                    <ng-container matColumnDef="FOLDERPATH">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Chemin de stockage </th>
                      <td mat-cell *matCellDef="let element"> {{element.folderpath}}</td>
                    </ng-container>
  
  
              
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="STATUSFILE">
                      <th mat-header-cell *matHeaderCellDef class="header_table"> Etat Fichier </th>
                      <td mat-cell *matCellDef="let element; let i = index;">
                           
                            <div  [ngSwitch]="getStatusFile(element.idfiletype)">
                                <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="1">
                                  <circle cx="60" cy="60" r="40" style="fill:#3DBC14" />
                                </svg>
                                
                                <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="0">
                                  <circle cx="60" cy="60" r="40" style="fill:red" />
                                </svg>
                              
        
                              </div>
                         
                           
  
                      </td>
                    </ng-container>
  
  
          
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
               
                  <button  style="margin-top: 50px;" class="btn btn-info btn-lg" (click)="generateFiles(folderCategories[j].foldername)">Générer les fichiers</button>
                    

                </mat-tab>
                </mat-tab-group>

               
    </form>
  </div>

<div class="disable-background" *ngIf="showSpinner"></div>
<div class="center" *ngIf="showSpinner">
  <mat-progress-spinner diameter=65 mode="indeterminate">
  </mat-progress-spinner>
</div>

</div>

