.container{
    margin-top: 0px;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  :host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #10B974;
}
:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #10B974;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #10B974 !important; 
}

#new-board-btn {
margin:10px;
margin-left: 20px;

}
#text3d{
  width: 1300px;
  padding: 0px;
  margin: 30px;
}
h1 {
 

  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Geneva, sans-serif;
  text-align: center;
    text-transform: uppercase;
 
    padding: 12px;
    
    font-size: 3em;
  font-weight: bold;
 
  text-shadow: #343A3D 0 0 1px, #343A3D 0 -1px 2px, #343A3D 0 -3px 2px, rgba(0,0,0,0.5) 0 5px 5px;
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
}

.file-to-print-card {
  width: 250px;
 
  margin: 8px;
  
}

.file-to-print-header-image {
  background-image: url('./../../assets/img/sonatrach.svg');
  background-size: cover;

}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active  {
  color:white;
  background-color: #A2D9CE;
  }