<div class="card m-3" >
  <h1 >Veuillez sélectionner les états paie à imprimer pour chaque structure</h1>
    <div class="card-body">
    
      <mat-tab-group mat-align-tabs="center" style="margin-top: 25px;" >
        <mat-tab *ngFor="let activity of allShActivities; let k=index" label="{{allShActivities[k].descactivity}}" >

          <form [formGroup]="fileToPrintFormGroup" >
            <mat-accordion *ngFor="let structure of structureFormArray.controls; let j = index" style="margin: 8px;" >
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false" 
                                       *ngIf="allShActivities[k].idactivity==strucures[j].idactivity"
                                       (click)="updateCheckBoxes()">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       {{strucures[j].structurename}} 
                      </mat-panel-title>
                  
                      <mat-panel-description  formArrayName="structureSelected" >
                        <mat-slide-toggle [formControlName]="j"  ></mat-slide-toggle >
                        
                      </mat-panel-description>
                   
        
                    </mat-expansion-panel-header >
                    <mat-panel-description style="display: block;">
                     <ul >
                    <li formArrayName="etatSelected" *ngFor="let etat of etatFormArray.controls; let i = index">
                      <mat-checkbox [formControlName]="i"  #checkboxes (change)="updateSelectedEtatForStructure(toutLesEtats[i].idfiletype,strucures[j].idstructure)" >
                       {{toutLesEtats[i].prefixfiletype}}
                      </mat-checkbox>
                      </li>
                    </ul> 
                  
                    <button  id="new-board-btn" class="btn btn-success" (click)="SelectFileToPrint()">Valider</button>
                      </mat-panel-description>
                  </mat-expansion-panel>
                </mat-accordion>
                
          </form>




        </mat-tab>
    
      </mat-tab-group>
     
    </div>
  </div>
