<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>

    
<div class="container">
 
  <div class="row">
    <h1 > Gestion des états/fichiers paie  </h1>
    <mat-form-field appearance="fill" style="width: 100%; margin-top: 30px;" >
      <mat-label style="font-size: large; color: black;"><span class="glyphicon glyphicon-search" aria-hidden="true" style="margin-right: 8px;"></span>Chercher</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="nom structure" #input style="color: black; ">
      
    </mat-form-field>
    <div class="table-container">
     
   
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="idstructure">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.idstructure}}</td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="structurename">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Nom structure </th>
          <td mat-cell *matCellDef="let element"> {{element.structurename}} </td>

        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="STRUCTURECODELIKE">
          <th mat-header-cell *matHeaderCellDef class="header_table"> Code Structure </th>
          <td mat-cell *matCellDef="let element"> {{element.structurecodelike}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="EMAILGROUPMANAGERS">
          <th mat-header-cell *matHeaderCellDef r class="header_table"> Email groupe gestionnaire</th>
          <td mat-cell *matCellDef="let element"> {{element.emailgroupmanagers}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="STATUSSTRUCTURE">
          <th mat-header-cell *matHeaderCellDef class="header_table"> Etat Structure </th>
          <td mat-cell *matCellDef="let element">

            <div [ngSwitch]="getStatus(element)">
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="2">
                <circle cx="60" cy="60" r="40" style="fill:#3DBC14" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="10">
                <circle cx="60" cy="60" r="40" style="fill:orange" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="8">
                <circle cx="60" cy="60" r="40" style="fill:orange" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="0">
                <circle cx="60" cy="60" r="40" style="fill:red" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="3">
                <circle cx="60" cy="60" r="40" style="fill:#FBED64" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="4">
                <circle cx="60" cy="60" r="40" style="fill:#61C2E6" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="5">
                <circle cx="60" cy="60" r="40" style="fill:#0437A4" />
              </svg>

            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef class="header_table" style="padding-left: 20px;"> Action </th>
          <td mat-cell *matCellDef="let element">
            <mat-grid-list cols="3">
              <button class="btn btn-info" id="first_btn" style="background-color: #61C2E6;"  (click)="genererEtats(element,1)" [disabled]="getStatus(element)==4||getStatus(element)==0||getStatus(element)==10||getStatus(element)==8||getStatus(element)==2" >Etats</button>
              <button class="btn btn-secondary" id="second_btn" style="background-color: #0437A4;" (click)="genererFichiers(element,1)" [disabled]="getStatus(element)==5||getStatus(element)==0||getStatus(element)==10||getStatus(element)==8||getStatus(element)==2">Fichiers</button>
              <button class="btn btn-success" id="first_btn" (click)="sendEmail(element)" [disabled]="getStatus(element)!=10&&getStatus(element)!=8">Envoyer</button>
              <button class="btn btn-danger" id="first_btn" (click)="suspendreStructure(element)" [disabled]="getStatus(element)==2||getStatus(element)==0||getStatus(element)==3">Suspendre</button>
              <button class="btn btn-secondary" id="second_btn" (click)="activerStructure(element)" [disabled]="getStatus(element)!=0">Activer</button>
            
            </mat-grid-list>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
    <mat-paginator [pageSizeOptions]="[10, 15,20]"></mat-paginator>
  </div>
  
  <mat-toolbar style="background-color:#343A3D; margin-top: 10px; margin-bottom: 10px; height: 50px;">
    
    
    <span style="color: #09AA6F;" *ngIf="isDataLoaded">Données chargées</span>
    <span style="color: #D10F18;" *ngIf="!isDataLoaded">Données non chargées</span>
    <span ></span>
    <div [ngSwitch]="isDataLoaded">
      <mat-icon *ngSwitchCase="false" style="margin-top: 8px; color: #D10F18;">cancel</mat-icon>
      <mat-icon *ngSwitchCase="true" style="margin-top: 8px;color: #09AA6F;">check_circle</mat-icon>
      </div>
      <span class="example-spacer"></span>
      <button mat-flat-button color="warn"   style="margin-left: 5px; color: black;background-color: #A0DFC0;" (click)="chargerDonnees()">Recharger les données
        
        <mat-icon aria-hidden="false"  style="cursor: pointer;text-shadow: 2px 2px 5px #080808; " >autorenew</mat-icon>
      </button>
      
      <button mat-flat-button color="warn"   style="margin-left: 5px; color: white;background-color: #61C2E6;" (click)="genererToutLesEtats(0)">	
        	Tous les états<mat-icon style="text-shadow: 2px 2px 5px #080808;">done_all</mat-icon>
       
      
      </button>
      <button mat-flat-button color="warn"   style="margin-left: 5px; color: white;background-color: #0437A4; "(click)="genererToutLesFichiers(0)" >
        Tous les fichiers<mat-icon style="text-shadow: 2px 2px 5px #080808;">done_all</mat-icon>
        
        
      </button>
      <button mat-flat-button color="warn"   style="margin-left: 5px; color: white;background-color: #E10E24;"(click)="suspendreAll()" >
        Suspendre tout<mat-icon style="text-shadow: 2px 2px 5px #080808;">done_all</mat-icon>
        
        
      </button>
      <button mat-flat-button color="warn"   style="margin-left: 5px; color: white;background-color: orange;" (click)="activerAll()">
        Activer tout<mat-icon style="text-shadow: 2px 2px 5px #080808;">done_all</mat-icon>
        
        
      </button>
      
  </mat-toolbar>

  <div class="dropdown" style="margin-bottom: 15px;" >
    <button class="btn" type="button" data-toggle="dropdown" style="background-color: #138D75; color: white;">Signification état structure
      <span class="caret"></span></button>
    <ul class="dropdown-menu" >
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="#3DBC14" />
        </svg>
        <strong> fichiers et états générés et envoyés</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="orange" />
        </svg>
        <strong> fichiers et états générés et non envoyés</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="#FBED64" />
        </svg>
        <strong> fichiers et états non générés et non envoyés</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="red" />
        </svg>
        <strong> structure suspendue</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="#61C2E6" />
        </svg>
        <strong>  états générés et non envoyés</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="#0437A4" />
        </svg>
        <strong>  fichiers  générés et non envoyés</strong>
      </li>
    </ul>
  </div>
  <!--  
<div class="row">
    <div class="center2">

      <button id="new-board-btn" class="btn btn-primary btn-lg button" (click)="cloturerPaie()">Clôturer Paie</button>
      <button class="btn btn-secondary btn-lg button" (click)="logout()">Se déconnecter</button>
    </div>
  </div>
<!-->



  <!--<div class="disable-background"  *ngIf="showProgress">
    
    <mat-progress-bar class="center" style="width: 400px;" mode="indeterminate" [color]="color"></mat-progress-bar>

  </div>!-->
  
    
  <div  class="overlay"  *ngIf="showProgress">
    <mat-card class="center" style="width: 25%; background-color: #015F47; border-color: white;" >
      <mat-card-header>
        <mat-card-title style="color: white;text-align: center;text-shadow: 2px 2px 5px #428A61;">Génération des Etats en cours... </mat-card-title>
        <mat-card-subtitle style="font-size: 15px; font-weight: bold; color: white;" *ngFor="let uploadedFile of uploadedFiles">
          <mat-icon>insert_drive_file</mat-icon>
          {{uploadedFile.name}} - {{uploadedFile.progress}}%
          <mat-progress-bar mode="determinate" value="{{uploadedFile.progress}}" ></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <div  class="overlay"  *ngIf="showProgressFichier">
    <mat-card class="center" style="width: 25%; background-color: #015F47; border-color: white;" >
      <mat-card-header>
        <mat-card-title style="color: white;text-align: center;text-shadow: 2px 2px 5px #428A61;">Génération des fichiers en cours... </mat-card-title>
        <mat-card-subtitle style="font-size: 15px; font-weight: bold; color: white;" *ngFor="let uploadedFichier of uploadedFichiers">
          <mat-icon>insert_drive_file</mat-icon>
          {{uploadedFichier.name}} - {{uploadedFichier.progress}}%
          <mat-progress-bar mode="determinate" value="{{uploadedFichier.progress}}" ></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div  class="overlay"  *ngIf="showProgressAllFichier">
    <mat-card class="center" style="width: 25%; background-color: #015F47; border-color: white;" >
      <mat-card-header>
        <mat-card-title style="color: white; font-size: 19px;text-align: center;text-shadow: 2px 2px 5px #428A61;">Génération de tout les fichiers </mat-card-title>
        <mat-card-subtitle style="font-size: 15px; font-weight: bold; color: white; text-align: center;" >
          
          Génération des fichiers de la structure  &#10022;{{generatedStructure}}&#10022;    en cours...
          <mat-progress-bar mode="indeterminate"  ></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div  class="overlay"  *ngIf="showProgressAllEtat">
    <mat-card class="center" style="width: 25%; background-color: #015F47; border-color: white;" >
      <mat-card-header>
        <mat-card-title style="color: white; font-size: 19px;text-align: center;text-shadow: 2px 2px 5px #428A61;">Génération de tout les états </mat-card-title>
        <mat-card-subtitle style="font-size: 15px; font-weight: bold; color: white; text-align: center;" >
          
          Génération des états de la structure 	&#10022;{{generatedStructureE}}&#10022;    en cours...
          <mat-progress-bar mode="indeterminate"  ></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div  class="overlay"  *ngIf="showProgressInit">
    <mat-card class="center" style="width: 20%; background-color: #015F47; border-color: white;" >
      <mat-card-header>
        <mat-card-title style="color: white; font-size: 19px;text-align: center;text-shadow: 2px 2px 5px #428A61;">Initialisation des données en cours... </mat-card-title>
        <mat-card-subtitle style="font-size: 15px; font-weight: bold; color: white; text-align: center;" >
        
          Chargement des données - {{initProgress}}%
          <mat-progress-bar mode="indeterminate"  ></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  
<div class="disable-background" *ngIf="showSpinner"></div>
  <div class="center" *ngIf="showSpinner">
    <mat-progress-spinner diameter=65 mode="indeterminate">
    </mat-progress-spinner>
  </div>
  

</div>

  
  

