
    
<div class="container">
 
  <div class="row">
    <h1> Générer des etats de paie et les envoyer aux gestionnaires par émail  </h1>
    <mat-form-field appearance="fill" style="width: 100%; ">
      <mat-label style="font-size: large;"><span class="glyphicon glyphicon-search" aria-hidden="true" style="margin-right: 8px;"></span>Chercher</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="nom structure" #input>
      
    </mat-form-field>
    <div class="table-container">
     
   
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="idstructure">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.idstructure}}</td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="structurename">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_table"> Nom structure </th>
          <td mat-cell *matCellDef="let element"> {{element.structurename}} </td>

        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="STRUCTURECODELIKE">
          <th mat-header-cell *matHeaderCellDef class="header_table"> Code Structure </th>
          <td mat-cell *matCellDef="let element"> {{element.structurecodelike}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="EMAILGROUPMANAGERS">
          <th mat-header-cell *matHeaderCellDef r class="header_table"> Email groupe gestionnaire</th>
          <td mat-cell *matCellDef="let element"> {{element.emailgroupmanagers}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="STATUSSTRUCTURE">
          <th mat-header-cell *matHeaderCellDef class="header_table"> Etat Structure </th>
          <td mat-cell *matCellDef="let element">

            <div [ngSwitch]="element.statusstructure">
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="0">
                <circle cx="60" cy="60" r="40" style="fill:#3DBC14" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="1">
                <circle cx="60" cy="60" r="40" style="fill:orange" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="2">
                <circle cx="60" cy="60" r="40" style="fill:red" />
              </svg>
              <svg width="25" height="25" viewBox="0 0 100 100" *ngSwitchCase="3">
                <circle cx="60" cy="60" r="40" style="fill:#FBED64" />
              </svg>

            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef class="header_table" style="padding-left: 20px;"> Action </th>
          <td mat-cell *matCellDef="let element">
            <mat-grid-list cols="3">
              <button class="btn btn-info" id="first_btn" (click)="genererFichier(element)" [disabled]="element.statusstructure==2||element.statusstructure==0||element.statusstructure==1" >Générer</button>
              <button class="btn btn-success" id="first_btn" (click)="sendEmail(element)" [disabled]="element.statusstructure==2||element.statusstructure==0||element.statusstructure==3">Envoyer</button>
              <button class="btn btn-danger" id="first_btn" (click)="suspendreStructure(element)" [disabled]="element.statusstructure==2||element.statusstructure==0||element.statusstructure==3">Suspendre</button>
              <button class="btn btn-secondary" id="second_btn" (click)="activerStructure(element)" [disabled]="element.statusstructure!=2">Activer</button>
            </mat-grid-list>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
    <mat-paginator [pageSizeOptions]="[10, 15,20]"></mat-paginator>
  </div>
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Signification état structure
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="#3DBC14" />
        </svg>
        <strong> fichiers générées et envoyées</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="orange" />
        </svg>
        <strong> fichiers générées et non envoyées</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="#FBED64" />
        </svg>
        <strong> fichiers non générées et non envoyées</strong>
      </li>
      <li>
        <svg width="25" height="25" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="red" />
        </svg>
        <strong> structure suspendue</strong>
      </li>
    </ul>
  </div>

  <!--  
<div class="row">
    <div class="center2">

      <button id="new-board-btn" class="btn btn-primary btn-lg button" (click)="cloturerPaie()">Clôturer Paie</button>
      <button class="btn btn-secondary btn-lg button" (click)="logout()">Se déconnecter</button>
    </div>
  </div>
<!-->



  <!--<div class="disable-background"  *ngIf="showProgress">
    
    <mat-progress-bar class="center" style="width: 400px;" mode="indeterminate" [color]="color"></mat-progress-bar>

  </div>!-->
  
    
  <div  class="overlay"  *ngIf="showProgress">
    <mat-card class="center" style="width: 25%; background-color: #015F47; border-color: white;" >
      <mat-card-header>
        <mat-card-title style="color: white;text-align: center;">Génération des fichiers en cours... </mat-card-title>
        <mat-card-subtitle style="font-size: 15px; font-weight: bold; color: white;" *ngFor="let uploadedFile of uploadedFiles">
          <mat-icon>insert_drive_file</mat-icon>
          {{uploadedFile.name}} - {{uploadedFile.progress}}%
          <mat-progress-bar mode="determinate" value="{{uploadedFile.progress}}" ></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  
  <div  class="overlay"  *ngIf="showProgressInit">
    <mat-card class="center" style="width: 20%; background-color: #015F47; border-color: white;" >
      <mat-card-header>
        <mat-card-title style="color: white; font-size: 19px;text-align: center;">Initialisation des données en cours... </mat-card-title>
        <mat-card-subtitle style="font-size: 15px; font-weight: bold; color: white; text-align: center;" >
        
          Chargement - {{initProgress}}%
          <mat-progress-bar mode="indeterminate"  ></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  
<div class="disable-background" *ngIf="showSpinner"></div>
  <div class="center" *ngIf="showSpinner">
    <mat-progress-spinner diameter=65 mode="indeterminate">
    </mat-progress-spinner>
  </div>
  

</div>

  
  

