<div class="container">
    <h1>Pour modifier la structure,veuillez remplir les champs suivants:</h1>
<div class="panel panel-default">
    <div class="panel-body">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" novalidate>
    <div class="example-container">
      <mat-form-field style="margin: 10px;" appearance="outline"> 
        <mat-label>Nom structure</mat-label>
        <input matInput placeholder="Nom structure" formControlName="structurename" value="{{structureArchive.archstructurename}}">
        <mat-icon matSuffix> message</mat-icon>
      </mat-form-field>

      <mat-form-field style="margin: 10px;" appearance="outline">
        <mat-label>Code structure</mat-label>
        <input matInput  placeholder="Code structure" formControlName="structurecodelike" value={{structureArchive.archstructurecodelike}}>
        <mat-icon matSuffix> offline_pin</mat-icon>
      </mat-form-field>



      <mat-form-field style="margin: 10px;" appearance="outline">
        <mat-label>Code not like structure</mat-label>
        
        
      <input matInput  placeholder="Code not like structure" formControlName="structurecodenotlike" value={{structureArchive.archstructurecodenotlike}}>
      <mat-icon matSuffix> highlight_off</mat-icon>
    </mat-form-field>

      <mat-form-field style="margin: 10px;" appearance="outline">
        <mat-label>Email groupe gestionnaire</mat-label>
        <input matInput  placeholder="Email groupe gestionnaire" formControlName="emailgroupemanagers" value="{{structureArchive.archemailgroupemanagers}}">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="!formGroup.controls['emailgroupemanagers'].valid && formGroup.controls['emailgroupemanagers'].touched">
            {{getErrorEmail()}}
          </mat-error>
      </mat-form-field>


      <mat-form-field style="margin: 10px;" appearance="outline">
        <mat-label>Activité</mat-label>
        <input type="text" placeholder="Sélectionnez une activité" aria-label="Number" matInput formControlName="idactivity"
          [matAutocomplete]="auto" >
          <mat-icon matSuffix> short_text</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" >
          <mat-option *ngFor="let activity of allShActivities" [value]="activity.idactivity">
            {{activity.descactivity}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button [disabled]="!formGroup.valid" mat-raised-button class="btn btn-success btn-lg" mat-button>Enregistrer les
        modifications</button>
    </div>
  </form>
  </div>
</div>
</div>