.mat-form-field {
    margin-top: 16px;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  

  .updatePsw{
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container{
    margin-top: 140px;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .hamburger-icon {
    
    margin-bottom: 16px;
    padding: 12px ;
 
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.hamburger-icon span {
    width: 30px;
    background-color: #fff;
    height: 4px;
    display: block;
    margin-bottom: 6px;
}
.hamburger-icon span:last-child {
    margin-bottom:14px;
}

#new-board-btn {
margin:10px;
margin-left: 20px;

}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #138D75; 
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #138D75; 
}

h1 {
 

  margin-top: 0;
  margin-bottom: 10px;
  font-family: Geneva, sans-serif;
  text-align: center;
    text-transform: uppercase;
  
    padding: 12px;
    
    font-size: 3em;
  font-weight: bold;
 
  text-shadow: #343A3D 0 0 1px, #343A3D 0 -1px 2px, #343A3D 0 -3px 2px, rgba(0,0,0,0.5) 0 5px 5px;
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
}