.mat-form-field {
    margin-top: 16px;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  

  .updatePsw{
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container{
    margin-top: 140px;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .hamburger-icon {
    
    margin-bottom: 16px;
    padding: 12px ;
 
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.hamburger-icon span {
    width: 30px;
    background-color: #fff;
    height: 4px;
    display: block;
    margin-bottom: 6px;
}
.hamburger-icon span:last-child {
    margin-bottom:14px;
}

#new-board-btn {
margin:10px;
margin-left: 20px;

}
h1 {
  
  text-align: center;
  font-family: "serif";
  font-size: 30px;
  border-style: groove;
  padding: 8px;
  text-shadow: 2px 2px 5px #888586;
}
