<div class="card m-6">
  <h1>Pour changer votre mot de passe veuillez suivre les etapes suivantes:</h1>
  <div class="card-body">

    <mat-horizontal-stepper #stepper class="updatePsw"
      style="background-color:#DAD7D8;padding-left: 90px; padding-right: 90px;">
      <mat-step [stepControl]="firstFormGroup" errorMessage="Champ obligatoire">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Saisir votre nom d'utilisateur</ng-template>
          <mat-form-field>
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput placeholder="nom utilisateur" type="text" formControlName="username" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" errorMessage="Champ invalid (les mots de passe ne sont pas identiques)">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Saisir le nouveau mot de passe</ng-template>
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput placeholder="Nouveau mot de passe" type="password" formControlName="psw" required>
          </mat-form-field>
          <div>

          </div>

          <ng-template matStepLabel>Confirmer le mot de passe</ng-template>
          <mat-form-field>
            <mat-label>Confirmer le mot de passe</mat-label>
            <input matInput placeholder="Confirmer le mot de passe" formControlName="confirm" required type="password">
          </mat-form-field>
          <div>


            <button mat-button matStepperNext>suivant</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Enregistrer les modifications</ng-template>
        <p>Enregistrer les modifications</p>
        <div>
          <button mat-button (click)="changerPsw()" [disabled]="isDisabled">Confirmer</button>

        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </div>
</div>
