

<mat-dialog-content  > 
    <strong> <p style="text-align: center; font-size: 30px; color: #EA4E4E ;margin:8px;" >Alert</p></strong>
    <p style="font-size: 22px; margin: 10px;color: black"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color: #EA4E4E;"></span>Une erreur s'est produite.Veuillez réessayer plus tard.</p>
</mat-dialog-content>
<mat-dialog-actions  align="center" >
  <button class="btn btn-danger" mat-dialog-close>Fermer</button>
</mat-dialog-actions >

