<nav class="navbar navbar-inverse" id="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: white; text-size-adjust: 20px;"><strong>Application Exploitation
          Paie</strong> </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/etatPaie']" routerLinkActive="router-link-active">Etat Paie
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>

        </a></li>
      <li>
        <a [routerLink]="['/cloturePaie']" routerLinkActive="router-link-active">Clôture Paie
          <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
        </a>

      </li>
      <li><a [routerLink]="['/clotureMois']" routerLinkActive="router-link-active">Clôture Mois
          <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
        </a></li>
        <li><a [routerLink]="['/generateTableFiles']" routerLinkActive="router-link-active">Envoyer fichiers système
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a></li>
       
      <li><a [routerLink]="['/historique']" routerLinkActive="router-link-active">Historique
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </a></li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Paramétres
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/parametre']" routerLinkActive="router-link-active">Changer mot de passe</a></li>
          <li><a [routerLink]="['/fileToPrint']" routerLinkActive="router-link-active">Choisir les fichiers à
              imprimer</a></li>
          <li><a [routerLink]="['/storageSettings']" routerLinkActive="router-link-active">Modifier le chemin de stockage</a></li>
          <li><a [routerLink]="['/addStructure']" routerLinkActive="router-link-active">Ajouter structure</a></li>
          <li><a [routerLink]="['/structures']" routerLinkActive="router-link-active">Modifier/Supprimer structure</a>
          </li>
        </ul>

      </li>

      <li><a style="cursor: pointer;" class="nav-item" (click)="showConfirm() " routerLinkActive="router-link-active">Se
          déconnecter
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <li style="margin-right: 5px;"><a class="nav-link disabled navbar-right"  style="margin-right: 0px;cursor: pointer; color:white;font-size: 18px; animation: example 2s infinite;border-radius: 10px; "  ><strong>
          <span class="glyphicon glyphicon glyphicon-calendar" aria-hidden="true"></span>Mois Courant:    <span>   {{currentMonth}}</span>
         
        </strong>
        </a></li>
      </ul>
      <!-- 
        <li *ngIf="!connection" class="nav-item">
          <a class="nav-link" [routerLink]="['/auth/login']">Connexion</a>
        </li>
        -->

   
  </div>
</nav>
