#header{
    /*margin: 25px;*/
    
    background-color:#343A3D ;
   
    }
    @keyframes example {
        from {background-color: #E77F03;}
        to {background-color: #FDAF52;}
      }
      a{
        text-transform: uppercase;
        font-family: Geneva, sans-serif;
      }
      .nav_link:active{
        color: white!important;
       
       
      }
    
    .nav_link:hover{
      color: white!important;
      background-color: black!important;
    }