<div class="container">
  <h1>Pour ajouter une structure,veuillez remplir les champs suivants:</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" novalidate>
        <div class="example-container">
          <mat-form-field style="margin: 10px;">
            <input matInput placeholder="Nom structure" formControlName="structurename">
            <mat-error
              *ngIf="!formGroup.controls['structurename'].valid && formGroup.controls['structurename'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="margin: 10px;">
            <input matInput placeholder="Code structure" formControlName="structurecodelike">
            <mat-error
              *ngIf="!formGroup.controls['structurecodelike'].valid && formGroup.controls['structurecodelike'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>



          <mat-form-field style="margin: 10px;">
            <input matInput placeholder="Code not like structure" formControlName="structurecodenotlike">
            <mat-error
              *ngIf="!formGroup.controls['structurecodenotlike'].valid && formGroup.controls['structurecodenotlike'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="margin: 10px;">
            <input matInput placeholder="Email groupe gestionnaire" formControlName="emailgroupemanagers">
            <mat-error
              *ngIf="!formGroup.controls['emailgroupemanagers'].valid && formGroup.controls['emailgroupemanagers'].touched">
              {{getErrorEmail()}}
            </mat-error>
          </mat-form-field>


          <mat-form-field style="margin: 10px;">
            <input type="text" placeholder="Sélectionnez une activité" aria-label="Number" matInput
              formControlName="idactivity" [matAutocomplete]="auto">
            <mat-error *ngIf="!formGroup.controls['idactivity'].valid && formGroup.controls['idactivity'].touched">
              {{ titleAlert }}
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let activity of allShActivities" [value]="activity.idactivity">
                {{activity.descactivity}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button [disabled]="!formGroup.valid" mat-raised-button class="btn btn-primary btn-lg" mat-button>Ajouter une
            structure</button>
        </div>
      </form>
    </div>
  </div>
</div>
