<div class="container">
  <h1 id="text3d">ajout structure</h1>
  <div class="panel panel-default" >
    <div class="panel-body">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" novalidate>
        <div class="table-container">
          <mat-form-field style="margin: 10px;" appearance="outline">
            <mat-label>Nom structure*</mat-label>
            <input matInput placeholder="Nom structure" formControlName="structurename" >
            <mat-icon matSuffix> message</mat-icon>
            <mat-error
              *ngIf="!formGroup.controls['structurename'].valid && formGroup.controls['structurename'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="margin: 10px;" appearance="outline"> 
            <mat-label>Code structure*</mat-label>
            <input matInput placeholder="Code structure" formControlName="structurecodelike" >
            <mat-icon matSuffix> offline_pin</mat-icon>
            <mat-error
              *ngIf="!formGroup.controls['structurecodelike'].valid && formGroup.controls['structurecodelike'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>



          <mat-form-field style="margin: 10px;" appearance="outline">
            <mat-label>Code not like structure*</mat-label>
            <input matInput placeholder="Code not like structure" formControlName="structurecodenotlike" >
            <mat-icon matSuffix>highlight_off</mat-icon>
            <mat-error
              *ngIf="!formGroup.controls['structurecodenotlike'].valid && formGroup.controls['structurecodenotlike'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="margin: 10px;" appearance="outline"> 
            <mat-label>Fichier code like*</mat-label>
            <input matInput placeholder="Code fichier" formControlName="fichiercodelike" >
            <mat-icon matSuffix> offline_pin</mat-icon>
            <mat-error
              *ngIf="!formGroup.controls['fichiercodelike'].valid && formGroup.controls['fichiercodelike'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>



          <mat-form-field style="margin: 10px;" appearance="outline">
            <mat-label>Code not like fichier*</mat-label>
            <input matInput placeholder="Code not like fichier" formControlName="fichiercodenotlike" >
            <mat-icon matSuffix>highlight_off</mat-icon>
            <mat-error
              *ngIf="!formGroup.controls['fichiercodenotlike'].valid && formGroup.controls['fichiercodenotlike'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="margin: 10px;" appearance="outline">
            <mat-label>Email groupe gestionnaire*</mat-label>
            <input matInput placeholder="Email groupe gestionnaire" formControlName="emailgroupemanagers" >
            <mat-icon matSuffix>email</mat-icon>
            <mat-error
              *ngIf="!formGroup.controls['emailgroupemanagers'].valid && formGroup.controls['emailgroupemanagers'].touched">
              {{getErrorEmail()}}
            </mat-error>
          </mat-form-field>


          <mat-form-field style="margin: 10px;" appearance="outline">
            <mat-label>Activité*</mat-label>
            <input type="text" placeholder="Sélectionnez une activité" aria-label="Number" matInput 
              formControlName="idactivity" [matAutocomplete]="auto">
              <mat-icon matSuffix> short_text</mat-icon>
            <mat-error *ngIf="!formGroup.controls['idactivity'].valid && formGroup.controls['idactivity'].touched">
              {{ titleAlert }}
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let activity of allShActivities" [value]="activity.idactivity">
                {{activity.descactivity}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button [disabled]="!formGroup.valid" class="btn btn-primary btn-lg"  style="background-color: #138D75; color: white;">Ajouter une
            structure</button>
        </div>
      </form>
    </div>
  </div>
</div>
